Tugas 7 IAK.json
{
  "name": "Tugas 7 IAK",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "name": "Tiap 15 menit",
      "id": "c28ed562-7462-4967-af76-2c981b24fac9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "043f9051-2103-443d-85cb-0f39a8a2cecf",
              "name": "Timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "3b0e5736-92f7-4f9c-a052-7aecca2cd3ce",
              "name": "Tweet_ID",
              "value": 22446688,
              "type": "number"
            },
            {
              "id": "8ea87f69-b93c-47a8-8a71-7e0a0b279460",
              "name": "Tweet_Text",
              "value": "Sentimen pasar terhadap Bitcoin ($BTC) sangat positif pagi ini karena volume mengarah ke naik",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "name": "Persiapan Data",
      "id": "b9665d28-349d-4dd6-80cf-df91f5ff9977"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Xd72QDwoAzq6aBqUp-7D6eXokWCHThL1GkuXm_NcydA",
          "mode": "list",
          "cachedResultName": "laporan kripto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xd72QDwoAzq6aBqUp-7D6eXokWCHThL1GkuXm_NcydA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vCswDEeX2ItIVENA860FCZiJcbeQQwfJcTsbIafE5AM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Waktu": "={{ $node[\"Persiapan Data\"].json.Timestamp }}",
            "Tweet ID": "={{ $node[\"Persiapan Data\"].json.Tweet_ID }}",
            "Text": "={{ $node[\"Persiapan Data\"].json.Tweet_Text }}",
            "Sentiment": "={{ JSON.parse($json.text).label }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Waktu",
              "displayName": "Waktu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tweet ID",
              "displayName": "Tweet ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Text",
              "displayName": "Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        768,
        0
      ],
      "name": "Simpan ke Sheets",
      "id": "7b7fec96-3b98-4bb9-901d-8cb96a0ba0d6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the sentiment of this tweet. Return ONLY a JSON object with keys 'label' (Positive, Negative, or Neutral) and 'score' (0 to 1).\n\nTweet: {{ $json.Tweet_Text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "name": "Analisis Sentimen1",
      "id": "d5d632be-1b6c-4f7f-bbed-052ea30d54db"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "name": "Groq Chat Model1",
      "id": "a93e3b15-e72c-4186-85f0-0ad95ca6744b",
      "credentials": {
        "groqApi": {
          "id": "v2hlsdoXApv4VSM7",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        352
      ],
      "name": "Jam 7 pagi1",
      "id": "ba87c8ec-93ca-4f32-bab1-f89f26c4f465"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xd72QDwoAzq6aBqUp-7D6eXokWCHThL1GkuXm_NcydA",
          "mode": "list",
          "cachedResultName": "laporan kripto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xd72QDwoAzq6aBqUp-7D6eXokWCHThL1GkuXm_NcydA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xd72QDwoAzq6aBqUp-7D6eXokWCHThL1GkuXm_NcydA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        96,
        352
      ],
      "name": "Baca Sheets1",
      "id": "d318f921-441e-442b-96aa-1f63f4f50b18",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let positive = 0;\nlet negative = 0;\nlet neutral = 0;\nconst allItems = $input.all();\n\nfor (const item of allItems) {\n  const sentiment = (item.json[\"Sentiment\"] || '').toString().toLowerCase().trim();\n  \n  if (sentiment.includes('positif') || sentiment.includes('positive')) {\n    positive++;\n  } else if (sentiment.includes('negatif') || sentiment.includes('negative')) {\n    negative++;\n  } else {\n    neutral++;\n  }\n}\n\nreturn {\n  total: allItems.length,\n  positive,\n  negative,\n  neutral\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        352
      ],
      "name": "Analisis Data1",
      "id": "9c0a62f8-2388-4d9d-b559-cd5c16dc1e1c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Anda adalah analis sentimen pasar. Berikan kesimpulan singkat berdasarkan data berikut:\n\nTotal Tweet: {{ $json.total }}\nPositive: {{ $json.positive }}\nNegative: {{ $json.negative }}\nNeutral: {{ $json.neutral }}\n\nTUGAS: Tentukan apakah pasar Bullish, Bearish, atau Netral. Berikan jawaban maksimal 2 kalimat dalam Bahasa Indonesia tanpa menjelaskan cara menghitungnya.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        576,
        352
      ],
      "name": "Buat Kesimpulan1",
      "id": "a61f2417-f8d0-4e6e-b32f-86baa06f988b"
    },
    {
      "parameters": {
        "chatId": "1026560154",
        "text": "={{ $json.text }}\n\n---\n📊 _Laporan Otomatis n8n_",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        352
      ],
      "name": "Kirim Telegram1",
      "id": "51c1618d-c5e0-4149-b2ef-a0e9c429f2a5",
      "webhookId": "8778521f-3c8a-4f8c-a294-f3e4df7fe6df",
      "credentials": {
        "telegramApi": {
          "id": "L36YKcgmVL0lUNUE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        544,
        528
      ],
      "name": "Groq Chat Model2",
      "id": "c94f3ac9-d448-40ec-a074-34a611d1104a",
      "credentials": {
        "groqApi": {
          "id": "v2hlsdoXApv4VSM7",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Tiap 15 menit": {
      "main": [
        [
          {
            "node": "Persiapan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persiapan Data": {
      "main": [
        [
          {
            "node": "Analisis Sentimen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Sentimen1": {
      "main": [
        [
          {
            "node": "Simpan ke Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Sentimen1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Jam 7 pagi1": {
      "main": [
        [
          {
            "node": "Baca Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Sheets1": {
      "main": [
        [
          {
            "node": "Analisis Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Data1": {
      "main": [
        [
          {
            "node": "Buat Kesimpulan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buat Kesimpulan1": {
      "main": [
        [
          {
            "node": "Kirim Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Buat Kesimpulan1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8b897de1-2803-4de5-9acf-b94f6c9e21f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "ZvRVemQXH77qYeDq",
  "tags": []
}