Tugas 2 IAK.json
{
  "name": "Tugas 2 IAK",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        16,
        208
      ],
      "id": "a6d86963-4ca5-4e6d-8f2d-01336156a2bc",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "FEtFsa9qmtPbtGIT",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"from\"]}}",
                    "rightValue": "arjunaraffi36@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "95503e69-026f-4a81-a643-2062b6474a6a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "080db788-bb50-462f-b292-df82d993379f",
                    "leftValue": "={{$json[\"from\"]}}",
                    "rightValue": "junahyungseok@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "87e9a6ce-9f28-4171-b346-aeb218f66fa2",
                    "leftValue": "={{$json[\"from\"]}}",
                    "rightValue": "randyakur@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        192
      ],
      "id": "692064e0-43b5-48cd-b7a3-e2fe67a1d9e5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68378757-6954-4af2-b2aa-07819e503e92",
              "name": "Tanggal",
              "value": "={{$json[\"date\"]}}",
              "type": "string"
            },
            {
              "id": "c6169f6c-d93b-4de3-af24-ecbc57f29300",
              "name": "Jumlah",
              "value": "={{ \n  (\n    ($json[\"textPlain\"] || \"\").match(/Rp\\s?([\\d\\.,]+)/)?.[1]\n    || ($json[\"textPlain\"] || \"\").match(/(\\d{4,6})/)?.[1]\n  )\n  ?.replace(/\\./g, '')\n  ?.replace(/,/g, '')\n  || 0\n}}",
              "type": "string"
            },
            {
              "id": "edc3bc06-7dfe-4064-b622-8989885e2889",
              "name": "Nominal",
              "value": "Cloud ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        48
      ],
      "id": "e6f4de73-7517-499d-a938-9296ece1181b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3c94e99-5341-4a06-a0c1-4631c01f9a11",
              "name": "Tanggal",
              "value": "={{$json[\"date\"]}}",
              "type": "string"
            },
            {
              "id": "d5407406-9669-4d81-91c8-74012848a858",
              "name": "Jumlah",
              "value": "={{$json[\"textPlain\"].match(/Total.*?([\\d\\.]+)/s)?.[1]?.replace(/\\./g, '') || 0}}",
              "type": "string"
            },
            {
              "id": "7a5ca7fe-20b4-469c-9da1-e63458904ced",
              "name": "Nominal",
              "value": "Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        208
      ],
      "id": "cfd22789-dcd9-4b9f-bb54-73407ac64fa8",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a3c515b-5c15-4a15-9ec8-ce265f58bd7a",
              "name": "Tanggal",
              "value": "={{$json[\"date\"]}}",
              "type": "string"
            },
            {
              "id": "4a3b76e2-5c02-4a8a-94dd-6be9fc9227a0",
              "name": "Jumlah",
              "value": "={{$json[\"textPlain\"].match(/Harga\\s*Rp([\\d\\.]+)/)?.[1]?.replace(/\\./g, '') || 0}}",
              "type": "string"
            },
            {
              "id": "d6677992-c6eb-4093-afca-1dd5e65c9f76",
              "name": "Nominal",
              "value": "={{$json[\"textPlain\"].match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1]?.trim() || \"Produk\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        384
      ],
      "id": "1223ca7a-73c0-468b-ae43-0c9b36c20e48",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        192
      ],
      "id": "be2f2aeb-40da-446f-abf5-174462957929",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xuQwTbLqCVV2u6QcDli7ZYMMD5Q4e-Nh3XpZrWJ3-6o",
          "mode": "list",
          "cachedResultName": "pencatat_keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xuQwTbLqCVV2u6QcDli7ZYMMD5Q4e-Nh3XpZrWJ3-6o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1563386288,
          "mode": "list",
          "cachedResultName": "pencatat_keuangan.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xuQwTbLqCVV2u6QcDli7ZYMMD5Q4e-Nh3XpZrWJ3-6o/edit#gid=1563386288"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{$json[\"Tanggal\"]}}",
            "Produk": "={{$json[\"Produk\"]}}",
            "Jumlah (Rp)": "={{$json[\"Nominal\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah (Rp)",
              "displayName": "Jumlah (Rp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        208
      ],
      "id": "570f59ea-9523-4a94-8731-928beb0350a1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4441ec94-1551-4289-9800-587180b222af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "ve9wDGoI6Nwp95Og",
  "tags": []
}