Tugas 2 Pertemuan 6 IAK.json
{
  "name": "Tugas 2 Pertemuan 6 IAK",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83bfb60b-98d0-4626-8532-1eb07f93e7e2",
              "leftValue": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.hasExpenses }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        256
      ],
      "id": "ee97761d-e4ed-41b4-b6a2-3bcfbd6c490f",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b0680348-2c0b-4cbc-bc86-92be3f4132d7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IXOluj1KNosXb6FP",
          "name": "Google Gemini(PaLM) Api account 7"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        256
      ],
      "id": "c4970f3f-24c5-47b1-9768-5c26e9afe0ad",
      "name": "Setiap Hari Minggu"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tpjOqNSchS2QqtljUTYR24TBFW7-nevukRj_0XbvDGg",
          "mode": "list",
          "cachedResultName": "Data Dummy Catatan Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpjOqNSchS2QqtljUTYR24TBFW7-nevukRj_0XbvDGg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tpjOqNSchS2QqtljUTYR24TBFW7-nevukRj_0XbvDGg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        256
      ],
      "id": "d51c5ade-6ad6-4056-8e45-4c9d93c74889",
      "name": "Ambil Log Pengeluaran",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst today = new Date();\ntoday.setHours(23, 59, 59, 999); // inklusif hari ini sampai akhir hari\n\nconst sevenDaysAgo = new Date();\nsevenDaysAgo.setDate(today.getDate() - 7);\nsevenDaysAgo.setHours(0, 0, 0, 0);\n\nlet weeklyExpenses = [];\nlet formattedString = \"Data pengeluaran saya minggu ini:\\n\";\nlet hasExpenses = false;\n\nfor (const item of items) {\n  const rawTanggal = item.json.Tanggal; // format: \"13/04/2026\"\n  \n  // Parse manual DD/MM/YYYY → YYYY-MM-DD agar valid di semua engine\n  const [day, month, year] = rawTanggal.split(\"/\");\n  const expenseDate = new Date(`${year}-${month}-${day}`);\n\n  if (expenseDate >= sevenDaysAgo && expenseDate <= today) {\n    weeklyExpenses.push(item.json);\n    formattedString += `- ${item.json.Deskripsi}: Rp${item.json[\"Jumlah (IDR)\"]}\\n`;\n    hasExpenses = true;\n  }\n}\n\nreturn [{\n  json: {\n    promptData: formattedString,\n    hasExpenses: hasExpenses\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        256
      ],
      "id": "4af2309c-df26-435b-a259-0c324b751f46",
      "name": "Filter 7 Hari & Format Teks"
    },
    {
      "parameters": {
        "chatId": "1026560154",
        "text": "Tidak ditemukan log pengeluaran untuk 7 hari terakhir.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        352
      ],
      "id": "d537e62b-d8f6-4000-b820-20f3e8a6ac37",
      "name": "Pesan False",
      "webhookId": "4d4c5ea2-c6cc-469f-be56-3af2c698e477",
      "credentials": {
        "telegramApi": {
          "id": "L36YKcgmVL0lUNUE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Filter 7 Hari & Format Teks\"].json.promptData }} (Notes: sesuaikan dengan nama nodes kalian).\n\n---\nInstruksi: \"Tulis ringkasan kebiasaan belanja saya minggu ini dan beri 1 saran penghematan.\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        160
      ],
      "id": "dd484643-7caf-46f5-a514-395108d15044",
      "name": "Analisis"
    },
    {
      "parameters": {
        "chatId": "1026560154",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        160
      ],
      "id": "71ef41a6-5201-43e8-92d2-a2f307b16a0f",
      "name": "Pesan True",
      "webhookId": "4d4c5ea2-c6cc-469f-be56-3af2c698e477",
      "credentials": {
        "telegramApi": {
          "id": "L36YKcgmVL0lUNUE",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Analisis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pesan False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Setiap Hari Minggu": {
      "main": [
        [
          {
            "node": "Ambil Log Pengeluaran",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Log Pengeluaran": {
      "main": [
        [
          {
            "node": "Filter 7 Hari & Format Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter 7 Hari & Format Teks": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisis": {
      "main": [
        [
          {
            "node": "Pesan True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "262c698c-283c-44bf-b570-ca0a967edcf6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "e0s4xolEpnSNL2bU",
  "tags": []
}