Tugas 5 IAK.json
{
  "name": "Tugas 5 IAK",
  "nodes": [
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        960,
        176
      ],
      "id": "a8c1c2b7-7c5a-49c6-9584-5e15a2dd6722",
      "name": "Membatasi hanya 10"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        336,
        176
      ],
      "id": "c1a5688c-bf4e-42b6-9ef1-272b1854fc15",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://www.cnbcindonesia.com/market/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        560,
        48
      ],
      "id": "47ae3084-787e-4433-9b2e-60d99f45509b",
      "name": "CNBC Indonesia RSS1"
    },
    {
      "parameters": {
        "url": "https://finance.detik.com/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        560,
        288
      ],
      "id": "612c6fee-5eb3-42e0-b717-311ccfe491f8",
      "name": "Finance Detik RSS1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        176
      ],
      "id": "1bc16dbe-e409-4e4f-b000-fef7b02b4fd4",
      "name": "Menggabungkan 2 Output RSS1"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        176
      ],
      "id": "60685dae-0df7-4746-b6ca-8d37d3375770",
      "name": "Unduh halaman web dari setiap URL1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1408,
        176
      ],
      "id": "0f42263c-edc2-4f2e-be4d-e70274405f8c",
      "name": "Clean kode HTML dan Ekstrak1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1616,
        176
      ],
      "id": "8b69a9d4-4e20-4480-a27c-27fa0d8f874c",
      "name": "Menggabungkan menjadi 1 blok teks besar1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Ringkaslah 10 artikel berikut menjadi 5 poin berita keuangan utama yang paling relevan untuk pagi ini. Gunakan bahasa Indonesia yang profesional.\n\nKonteks: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1808,
        176
      ],
      "id": "31ee3016-6504-4ab8-a003-109db9b30c9d",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1808,
        336
      ],
      "id": "4b906432-4e4d-458d-919c-338aeeb5a404",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "P5b4tKNm4u0r3Br0",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1026560154",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2112,
        176
      ],
      "id": "33c0fe59-3bf5-4646-9174-c9317f8951d2",
      "name": "Send a text message1",
      "webhookId": "f779527e-8a03-4262-9043-a33c38f5bbf2",
      "credentials": {
        "telegramApi": {
          "id": "L36YKcgmVL0lUNUE",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Membatasi hanya 10": {
      "main": [
        [
          {
            "node": "Unduh halaman web dari setiap URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "CNBC Indonesia RSS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finance Detik RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CNBC Indonesia RSS1": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Detik RSS1": {
      "main": [
        [
          {
            "node": "Menggabungkan 2 Output RSS1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Menggabungkan 2 Output RSS1": {
      "main": [
        [
          {
            "node": "Membatasi hanya 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unduh halaman web dari setiap URL1": {
      "main": [
        [
          {
            "node": "Clean kode HTML dan Ekstrak1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean kode HTML dan Ekstrak1": {
      "main": [
        [
          {
            "node": "Menggabungkan menjadi 1 blok teks besar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menggabungkan menjadi 1 blok teks besar1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c30c87bf-d7ff-4b1b-8190-b5ad53f7af6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "2enMMYJIon9ImRlL",
  "tags": []
}