Tugas 4 IAK.json
{
  "name": "Tugas 4 IAK",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const d = item.json;\n\n  const text = `📊 LAPORAN MATCHED\\n\\n📅 Tanggal: ${d.tanggal}\\n💰 Nominal: Rp ${Number(d.nominal || 0).toLocaleString('id-ID')}\\n\\n✅ Status: ${d.status || '-'}\\n📌 Ket: ${d.pesan || '-'}\\n\\n🔍 Ref Internal: ${d.ref_internal || '-'}\\n🏦 Ref Bank: ${d.ref_bank || '-'}\\n\\nℹ️ Desc: ${d.deskripsi || '-'}`;\n\n  return { json: { text } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "name": "Summary TRUE",
      "id": "f7b340fc-11d1-42cc-b567-a6dc5b247f59"
    },
    {
      "parameters": {
        "chatId": "1026560154",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "name": "Send Telegram TRUE",
      "id": "3aa8abbf-adcb-46d3-8ec4-97fe63a0fedf",
      "webhookId": "70075995-bed0-4e63-af11-dc153962b3d4",
      "credentials": {
        "telegramApi": {
          "id": "L36YKcgmVL0lUNUE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        800,
        176
      ],
      "name": "Delay FALSE",
      "id": "4c7ae7fb-7914-48c7-9865-e76e5cd9a539",
      "webhookId": "3542ec68-68dc-4fc1-992b-5ef75be53be3"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const d = item.json;\n\n  const text = `📊 LAPORAN SELISIH KEUANGAN\\n\\n📅 Tanggal: ${d.tanggal}\\n💰 Nominal: Rp ${Number(d.nominal || 0).toLocaleString('id-ID')}\\n\\n⚠️ Status: ${d.status || '-'}\\n📌 Ket: ${d.pesan || '-'}\\n\\n🔍 Ref Internal: ${d.ref_internal || '-'}\\n🏦 Ref Bank: ${d.ref_bank || '-'}\\n\\nℹ️ Desc: ${d.deskripsi || '-'}`;\n\n  return { json: { text } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        176
      ],
      "name": "Summary FALSE",
      "id": "fb3aedd3-4fdc-4cd9-bbb1-d16cf71625ed"
    },
    {
      "parameters": {
        "chatId": "1026560154",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1136,
        176
      ],
      "name": "Send Telegram FALSE",
      "id": "abc7b6fb-034f-4465-b0d3-44fb4118ffd8",
      "webhookId": "afafebe5-164c-4c1f-8ef3-2dabdba891ad",
      "credentials": {
        "telegramApi": {
          "id": "L36YKcgmVL0lUNUE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rudLCMIld3OSirfhJyWM-J80b489SvcRx3A8lI5KP5A",
          "mode": "list",
          "cachedResultName": "Dummy  Rekonsiliasii",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rudLCMIld3OSirfhJyWM-J80b489SvcRx3A8lI5KP5A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rudLCMIld3OSirfhJyWM-J80b489SvcRx3A8lI5KP5A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "name": "Get Internal Data1",
      "id": "30826024-dfb9-4222-a57f-890725ccaa7a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1kX7dSMcpS7azkUC1vLQtADoi38jdP-Vq",
          "mode": "list",
          "cachedResultName": "Dummy Rekonsiliasi - Sheet2.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1kX7dSMcpS7azkUC1vLQtADoi38jdP-Vq/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        224
      ],
      "name": "Download Bank CSV1",
      "id": "85448f7f-2993-429c-87aa-7157c11d2c67",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7aikWnumie7EmtLr",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "name": "Parse CSV1",
      "id": "43d86cba-6943-4ac7-af69-e3ec9aa41e73"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let tgl = item.json[\"Tanggal Transaksi\"];\n  let nominal = item.json[\"Jumlah (IDR)\"];\n\n  let parts = String(tgl || '').split('/');\n  if (parts.length !== 3) return null;\n\n  let cleanDate = `${parts[2]}-${parts[1]}-${parts[0]}`;\n  let cleanAmount = Number(String(nominal).replace(/\\D/g,'')) || 0;\n\n  return {\n    json: {\n      source: 'INTERNAL',\n      id_referensi: item.json[\"ID Referensi\"] || '-',\n      tanggal: cleanDate,\n      nominal: cleanAmount,\n      match_key: cleanDate + '_' + cleanAmount,\n      deskripsi: item.json[\"Deskripsi\"] || '-',\n      status_internal: item.json[\"Status\"] || '-'\n    }\n  };\n}).filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "name": "Format Internal1",
      "id": "77439bd1-234c-4e74-a334-0597cb556942"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let tgl = item.json[\"Tanggal Bank\"];\n  let nominal = item.json[\"Jumlah (IDR)\"];\n\n  let parts = String(tgl || '').split('/');\n  if (parts.length !== 3) return null;\n\n  let cleanDate = `${parts[2]}-${parts[1]}-${parts[0]}`;\n  let cleanAmount = Number(String(nominal).replace(/\\D/g,'')) || 0;\n\n  return {\n    json: {\n      source: 'BANK',\n      id_referensi: item.json[\"ID Referensi\"] || '-',\n      tanggal: cleanDate,\n      nominal: cleanAmount,\n      match_key: cleanDate + '_' + cleanAmount,\n      deskripsi: item.json[\"Deskripsi Transaksi\"] || '-',\n      status_bank: item.json[\"Status\"] || '-'\n    }\n  };\n}).filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        224
      ],
      "name": "Format Bank1",
      "id": "99f2cfd6-ed95-4f2c-bf8f-461a05295d04"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        16
      ],
      "name": "Merge Data1",
      "id": "880f5685-0aa6-40d4-a9ef-234322396b98"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst grouped = {};\n\nfor (const item of items) {\n  const key = item.json.match_key;\n  if (!grouped[key]) grouped[key] = [];\n  grouped[key].push(item.json);\n}\n\nlet results = [];\n\nfor (const key in grouped) {\n  const group = grouped[key];\n\n  const internal = group.find(x => x.source === 'INTERNAL');\n  const bank = group.find(x => x.source === 'BANK');\n\n  let status = '';\n  let pesan = '';\n\n  if (internal && bank) {\n    status = 'MATCHED';\n    pesan = '✅ Cocok';\n  } else if (internal && !bank) {\n    status = 'UNRECORDED BANK';\n    pesan = '⚠️ Tidak ada di Bank';\n  } else if (!internal && bank) {\n    status = 'UNRECORDED INTERNAL';\n    pesan = '⚠️ Tidak ada di Internal';\n  }\n\n  const ref = internal || bank;\n\n  results.push({\n    json: {\n      type: status === 'MATCHED' ? 'TRUE' : 'FALSE',\n      status,\n      pesan,\n      tanggal: ref?.tanggal || '-',\n      nominal: ref?.nominal || 0,\n      ref_internal: internal?.id_referensi || '-',\n      ref_bank: bank?.id_referensi || bank?.deskripsi || '-',\n      deskripsi: ref?.deskripsi || '-'\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        16
      ],
      "name": "Rekonsiliasi1",
      "id": "98f6af46-9d0a-44c5-aa26-abbc0678411f"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        16
      ],
      "name": "IF Status1",
      "id": "c060d10e-bc8a-4fd5-9113-dec1cf55451b"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        128
      ],
      "id": "8972c41a-2a79-4d37-81af-37dd5f50788c",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Summary TRUE": {
      "main": [
        [
          {
            "node": "Send Telegram TRUE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay FALSE": {
      "main": [
        [
          {
            "node": "Summary FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary FALSE": {
      "main": [
        [
          {
            "node": "Send Telegram FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Internal Data1": {
      "main": [
        [
          {
            "node": "Format Internal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Bank CSV1": {
      "main": [
        [
          {
            "node": "Parse CSV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV1": {
      "main": [
        [
          {
            "node": "Format Bank1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Internal1": {
      "main": [
        [
          {
            "node": "Merge Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bank1": {
      "main": [
        [
          {
            "node": "Merge Data1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data1": {
      "main": [
        [
          {
            "node": "Rekonsiliasi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rekonsiliasi1": {
      "main": [
        [
          {
            "node": "IF Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Status1": {
      "main": [
        [
          {
            "node": "Summary TRUE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay FALSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Internal Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Bank CSV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "42a564ad-e9e9-414e-ba51-ce29239f8527",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "7jae3ylpuEW9hwLT",
  "tags": []
}