Tugas 1 IAK.json
{
  "name": "Tugas 1 IAK",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuatan Invoice Otomatis",
        "formDescription": "Silakan isi data untuk membuat invoice",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien",
              "requiredField": true
            },
            {
              "fieldLabel": "Jam Kerja",
              "requiredField": true
            },
            {
              "fieldLabel": "Rate",
              "fieldName": "Rate",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Klien",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "name": "On form submission1",
      "id": "1151416a-ea63-4e7c-87a8-d2ad1b2fb2da",
      "webhookId": "1244eb11-5242-4855-b942-6e583cfc0a96"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a288f1d9-fd11-4072-872d-54f3688f1d28",
              "name": "Total Biaya",
              "value": "={{ (Number($json[\"Jam Kerja\"]) * Number($json[\"Rate\"].replace(/\\./g, \"\"))).toLocaleString(\"id-ID\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "name": "Edit Fields",
      "id": "2e67e87f-c195-4c4c-8a74-43179503c50b"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body { font-family: Arial, sans-serif; background: #f4f6f8; padding: 40px; color: #333; }\n    .invoice-wrapper { max-width: 800px; margin: auto; background: #fff; border-radius: 8px; padding: 40px; box-shadow: 0 4px 12px rgba(0,0,0,0.08); }\n    .invoice-header { display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #eaeaea; padding-bottom: 20px; margin-bottom: 30px; }\n    .section { margin-bottom: 30px; }\n    .section-title { font-size: 14px; font-weight: bold; color: #6b7280; text-transform: uppercase; margin-bottom: 8px; }\n    table { width: 100%; border-collapse: collapse; }\n    table th { background: #f9fafb; border-bottom: 2px solid #e5e7eb; padding: 12px; text-align: left; }\n    table td { padding: 12px; border-bottom: 1px solid #e5e7eb; }\n    .total-box { margin-top: 30px; text-align: right; }\n  </style>\n</head>\n<body>\n  <div class=\"invoice-wrapper\">\n    <div class=\"invoice-header\">\n      <h1>INVOICE</h1>\n      <div>\n        <div>Tanggal: {{ $now.format('dd/MM/yyyy') }}</div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n    <div class=\"section\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission1').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission1').item.json['Email Klien'] }}</p>\n    </div>\n    <div class=\"section\">\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi</th>\n            <th>Jam</th>\n            <th>Rate</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Jasa Pekerjaan / Konsultasi</td>\n            <td>{{ $('On form submission1').item.json['Jam Kerja'] }}</td>\n            <td>{{ $('On form submission1').item.json['Rate'] }}</td>\n            <td>Rp {{ $json['Total Biaya'] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <div class=\"total-box\">\n      <strong>Total Tagihan: Rp {{ $json['Total Biaya'] }}</strong>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "name": "HTML",
      "id": "f94c05bf-526a-4656-8310-c586a99e7947"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "name": "Convert HTML to PDF1",
      "id": "0d37a382-e8e3-402d-9e7d-05062e575068",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "fdsg0cLqtZd6URE2",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "name": "HTTP Request1",
      "id": "9a08aa2d-b33b-49ba-8b18-9db77e8abef2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission1').item.json['Email Klien'] }}",
        "subject": "=Invoice dari Vedera Company untuk {{ $('On form submission1').item.json['Nama Klien'] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission1').item.json['Nama Klien'] }}</strong>,</p>\n<p>Terima kasih atas kepercayaan Anda. Berikut adalah ringkasan tagihan Anda:</p>\n<ul>\n    <li><strong>Total Jam Kerja:</strong> {{ $('On form submission1').item.json['Jam Kerja'] }} jam</li>\n    <li><strong>Total Tagihan:</strong> Rp {{ $('Edit Fields').item.json['Total Biaya'] }}</li>\n</ul>\n<p>Detail lengkap silakan cek file PDF terlampir.</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "name": "Send a message1",
      "id": "429fe538-e354-4de9-932f-35c0d4808b78",
      "webhookId": "0b1e0d78-312a-4828-bb35-4c4d4a74736a",
      "credentials": {
        "gmailOAuth2": {
          "id": "jKDpEDMbBDduZCQz",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "876e3e53-1235-4450-a448-ca96a0fb45de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "jNysVrLrzxCrUBie",
  "tags": []
}