Tugas 3 IAK.json
{
  "name": "Tugas 3 IAK",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        288,
        112
      ],
      "id": "f055613c-b812-408f-9817-1a124d45d5e8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XNyIoq8jN-g2pgBSZa4dGPUjBFZO23p6-q-KjLsj7wc",
          "mode": "list",
          "cachedResultName": "Data dummy 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XNyIoq8jN-g2pgBSZa4dGPUjBFZO23p6-q-KjLsj7wc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XNyIoq8jN-g2pgBSZa4dGPUjBFZO23p6-q-KjLsj7wc/edit#gid=0"
        },
        "options": {}
      },
      "name": "Sheet 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        496,
        -48
      ],
      "id": "11df8358-9fc1-465c-9956-5a8a10070e3a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CkIqyO5M6lMIOmF9FG7KoQU3VMuQJfi4HH-d4WDg6xM",
          "mode": "list",
          "cachedResultName": "Data dummy 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CkIqyO5M6lMIOmF9FG7KoQU3VMuQJfi4HH-d4WDg6xM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CkIqyO5M6lMIOmF9FG7KoQU3VMuQJfi4HH-d4WDg6xM/edit#gid=0"
        },
        "options": {}
      },
      "name": "Sheet 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        496,
        128
      ],
      "id": "4b4707fc-a286-4389-9abf-06b7f1d2ce96",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {},
      "name": "Merge 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        704,
        112
      ],
      "id": "f8d6bde9-a905-429a-a785-bbfe3b6beedb"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  item.json.Sumber = item.json['ID Laporan']?.startsWith('REP') ? 'Sheet1' : 'Sheet2';\n  return item;\n});"
      },
      "name": "Tambah Sumber (1&2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        112
      ],
      "id": "7c6ed353-34d7-468d-af8b-10dfab4222f7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ydgV1g54qiVbtAHfT9_Drn_rHxfWgtftZJqpD3nO-3Y",
          "mode": "list",
          "cachedResultName": "Data dummy 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydgV1g54qiVbtAHfT9_Drn_rHxfWgtftZJqpD3nO-3Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ydgV1g54qiVbtAHfT9_Drn_rHxfWgtftZJqpD3nO-3Y/edit#gid=0"
        },
        "options": {}
      },
      "name": "Sheet 3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        480,
        336
      ],
      "id": "7c7a80da-fdbc-473f-bf5b-fc5b63b53f08",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({ json: {\n  'ID Laporan': item.json['ID Laporan'],\n  'Bulan': item.json.Bulan,\n  'Penjualan (Unit)': Number(item.json['Penjualan Harian']) || 0,\n  'Pendapatan (IDR)': Number(item.json['Total Penjualan (IDR)']) || 0,\n  'Sumber': 'Sheet3'\n}}));"
      },
      "name": "Transform Sheet 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        352
      ],
      "id": "a7fc39ac-a7d6-46e0-90da-3bacd20ff371"
    },
    {
      "parameters": {},
      "name": "Gabung Semua",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1104,
        208
      ],
      "id": "86268798-abed-4b17-bfee-3494b4967895"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "name": "Remove Duplicate",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1296,
        208
      ],
      "id": "8dcfc8f2-12bc-4658-952a-7d66101c9d5b"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all().map(i => i.json);\nconst bulan = new Date().toLocaleString('id-ID',{month:'long'});\nconst filtered = data.filter(d => (d.Bulan||'').toLowerCase() === bulan.toLowerCase());\n\nlet totalUnit = 0, totalPendapatan = 0;\nfiltered.forEach(d => {\n  totalUnit += d['Penjualan (Unit)'] || 0;\n  totalPendapatan += d['Pendapatan (IDR)'] || 0;\n});\n\nconst jumlah = filtered.length;\n\nreturn [{ json: {\n  Bulan: bulan,\n  Tahun: new Date().getFullYear(),\n  Jumlah_Laporan: jumlah,\n  Total_Penjualan_Unit: totalUnit,\n  Total_Pendapatan_IDR: totalPendapatan,\n  Rata_Rata_Penjualan_Per_Laporan: jumlah ? totalUnit/jumlah : 0,\n  Rata_Rata_Pendapatan_Per_Laporan: jumlah ? totalPendapatan/jumlah : 0\n}}];"
      },
      "name": "Generate Laporan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        208
      ],
      "id": "c8434da4-b9ab-47bd-9ee3-d11b455cfe39"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Y9_heTeCfiAGLzSsyrrvQ3zMwr8483kkWh11-HKTP2k",
          "mode": "list",
          "cachedResultName": "Data Laporan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9_heTeCfiAGLzSsyrrvQ3zMwr8483kkWh11-HKTP2k/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y9_heTeCfiAGLzSsyrrvQ3zMwr8483kkWh11-HKTP2k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tahun",
              "displayName": "Tahun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jumlah_Laporan",
              "displayName": "Jumlah_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Penjualan_Unit",
              "displayName": "Total_Penjualan_Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_Pendapatan_IDR",
              "displayName": "Total_Pendapatan_IDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rata_Rata_Penjualan_Per_Laporan",
              "displayName": "Rata_Rata_Penjualan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rata_Rata_Pendapatan_Per_Laporan",
              "displayName": "Rata_Rata_Pendapatan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sumber_Data",
              "displayName": "Sumber_Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Terakhir_Diperbarui",
              "displayName": "Terakhir_Diperbarui",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        0
      ],
      "id": "098a2c46-997a-49c4-901d-c819bf1eae4f",
      "name": "Laporan Bulanan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DlUXvBQCTWMrnZy1",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1026560154",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*  ✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}} 📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit 💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}  📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        208
      ],
      "id": "27c76683-b4ba-4234-af9c-e1dcd82f5867",
      "name": "Send a text message",
      "webhookId": "89fef5d0-696c-4ae2-8bff-7d7260be97fb",
      "credentials": {
        "telegramApi": {
          "id": "L36YKcgmVL0lUNUE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "muha23192si@student.nurufikri.ac.id",
        "subject": "Laporan Bulanan",
        "message": "=<!DOCTYPE html> <html> <head>   <style>     body { font-family: Arial, sans-serif; line-height: 1.6; }     .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }     .content { padding: 20px; }     .metric { margin: 8px 0; font-weight: bold; }     .highlight { color: #1976d2; }   </style> </head> <body>   <div class=\"header\">     <h2>📊 Laporan Bulanan</h2>     <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>   </div>   <div class=\"content\">     <p>Halo Tim,</p>     <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>          <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>     <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>     <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>     <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>          <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/d/...\">Lihat Master Sheet</a> | <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>            </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1936,
        416
      ],
      "id": "dc62db7f-874d-493b-bf82-56b3d79c081b",
      "name": "Send a message",
      "webhookId": "ac50d6dc-076d-42db-9a57-520a890e4d65",
      "credentials": {
        "gmailOAuth2": {
          "id": "jKDpEDMbBDduZCQz",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sheet 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 1": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 2": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Tambah Sumber (1&2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tambah Sumber (1&2)": {
      "main": [
        [
          {
            "node": "Gabung Semua",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet 3": {
      "main": [
        [
          {
            "node": "Transform Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Sheet 3": {
      "main": [
        [
          {
            "node": "Gabung Semua",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gabung Semua": {
      "main": [
        [
          {
            "node": "Remove Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicate": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "Laporan Bulanan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e5b584ee-86b0-4851-9633-d56ca2f15324",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3ba048c0ab57705cbdbbe485a9881c9179be0d0dbccc1de86762e3890925f59"
  },
  "id": "LMorbPL4nZ7H3Bn2",
  "tags": []
}